/**
 * @name Gruvbox Dark
 * @description Gruvbox Dark for Discord (new UI update)
 * @author shved.
 * @version 0.0.1
 * @authorId 833767278969225266
 * @website https://github.com/shvedes/discord-gruvbox
*/

* {
	--gruv-dark-bg-hard: 29, 32, 33;
	--gruv-dark-bg: 40 40 40;
	--gruv-dark-bg-alt: 33, 33, 33;
	--gruv-dark-bg-soft: 50, 48, 47;
	--gruv-dark-bg1: 60, 56, 54;
	--gruv-dark-bg2: 80, 73, 69;
	--gruv-dark-bg3: 102, 92, 84;
	--gruv-dark-bg4: 124, 111, 100;

	--gruv-dark-fg-hard: 251, 241, 199;
	--gruv-dark-fg: 235, 219, 178;
	--gruv-dark-fg1: 213, 196, 161;
	--gruv-dark-fg2: 189, 174, 147;
	--gruv-dark-fg3: 168, 153, 132;

	--gruv-dark-purple-dark: 177, 98, 134;
	--gruv-dark-purple-light: 211, 134, 155;

	--gruv-dark-yellow-dark: 215, 153, 33;
	--gruv-dark-yellow-light: 250, 189, 47;
	
	--gruv-dark-red-dark: 204, 36, 29;
	--gruv-dark-red-light: 251, 73, 52;

	--gruv-dark-orange-dark: 214, 93, 14;
	--gruv-dark-orange-light: 254, 128, 25;

	--gruv-dark-blue-dark: 69, 133, 136;
	--gruv-dark-blue-light: 131, 165, 152;

	--gruv-dark-green-dark: 152, 151, 26;
	--gruv-dark-green-light: 184, 187, 38;

	--gruv-dark-aqua-dark: 104, 157, 106;
	--gruv-dark-aqua-light: 142, 192, 124;

	--gruv-dark-gray-dark: 146, 131, 116;
	--gruv-dark-gray-light: 168, 153, 132;

	/* ============================================================== */

	--gruv-dark-text-hard:           var(--gruv-dark-fg-hard);
	--gruv-dark-text-primary:        var(--gruv-dark-fg);
	--gruv-dark-text-secondary:      var(--gruv-dark-fg1);
	--gruv-dark-text-tertiary:       var(--gruv-dark-fg2);
	--gruv-dark-text-muted:          var(--gruv-dark-fg3);
	--gruv-dark-text-danger:         var(--gruv-dark-red-light);
	--gruv-dark-text-inverted-hard:  var(--gruv-dark-text-hard);
	--gruv-dark-text-inverted:       var(--gruv-dark-bg);

	--gruv-dark-background-positive: var(--gruv-dark-green-dark);

	--gruv-dark-accent: var(--gruv-dark-yellow-light);
	--gruv-dark-accent-hover: var(--gruv-dark-accent);

	--gruv-dark-icon-color: var(--gruv-dark-fg2);
	--gruv-dark-icon-color-hover: var(--gruv-dark-fg);
	--gruv-dark-icon-color-hover-harder: var(--gruv-dark-fg-hard);
	--gruv-dark-icon-color-muted: var(--gruv-dark-fg3);

	--gruv-dark-link-color: var(--gruv-dark-blue-light);

	--gruv-dark-border-default: var(--gruv-dark-bg3);
	--gruv-dark-border-hover: var(--gruv-dark-bg2);

	--gruv-dark-button-color-default: var(--gruv-dark-yellow-dark);
	--gruv-dark-button-color-hover:   rgba(var(--gruv-dark-button-color-default), 0.7);
	--gruv-dark-button-text-default: var(--gruv-dark-bg);
	--gruv-dark-button-text-dark: var(--gruv-dark-text-primary);
	--gruv-dark-button-text-dark-muted: var(--gruv-dark-text-muted);

	--gruv-dark-button-alt-default: var(--gruv-dark-bg-soft);
	--gruv-dark-button-alt-hover:   var(--gruv-dark-bg);

	--gruv-dark-button-positive-default: var(--gruv-dark-green-dark);
	--gruv-dark-button-positive-hover:   rgba(var(--gruv-dark-green-dark), 0.8);
	
	--gruv-dark-input-box-background: var(--gruv-dark-bg-soft);

	--gruv-dark-scrollbar-color: var(--gruv-dark-bg3);
	--gruv-dark-scrollbar-background: transparent;

	--gruv-dark-selected-tab: var(--gruv-dark-bg1);

	--gruv-dark-status-online: var(--gruv-dark-green-dark);
	--gruv-dark-status-offline: var(--gruv-dark-text-muted);
	--gruv-dark-status-idle: rgba(var(--gruv-dark-accent), 0.8);
	--gruv-dark-status-dnd: var(--gruv-dark-red-dark);
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark,
[class*=vc-membercount-total],
.visual-refresh,
.theme-dark {
	--__header-bar-background: rgba(var(--gruv-dark-bg-hard));
	--autocomplete-bg: rgba(var(--gruv-dark-bg));

	--background-primary:  rgba(var(--gruv-dark-bg));      /* #282828 */
	--background-secondary: rgba(var(--gruv-dark-bg-alt)) ; /* #212121 */
	--background-secondary-alt: rgba(var(--gruv-dark-bg-soft));
	--background-tertiary: rgba(var(--gruv-dark-bg-soft)); /* #32302f */

	--background-base-lower: rgba(var(--gruv-dark-bg));
	--background-base-low: rgba(var(--gruv-dark-bg));
	--background-base-lowest: rgba(var(--gruv-dark-bg-hard));
	--background-floating: rgba(var(--gruv-dark-bg-hard)); /* #1d2021 */

	--background-surface-high: rgba(var(--gruv-dark-bg-soft));
	--background-surface-higher: rgba(var(--gruv-dark-bg));
	--background-surface-highest: rgba(var(--gruv-dark-bg));

	--background-feedback-critical: rgba(var(--gruv-dark-red-dark), 0.08);
	--background-feedback-positive: rgba(var(--gruv-dark-green-dark), 0.08);

	--background-modifier-accent: rgba(var(--gruv-dark-border-hover));
	--background-modifier-selected: rgba(var(--gruv-dark-selected-tab));

	--background-mentioned: rgba(var(--gruv-dark-accent), 0.1);
	--background-mentioned-hover: rgba(var(--gruv-dark-accent), 0.15);

	--background-message-automod: rgba(var(--gruv-dark-accent), 0.1);
	--background-message-automod-hover: rgba(var(--gruv-dark-accent), 0.15);

	--background-accent: rgba(var(--gruv-dark-bg1));

	--bg-base-primary: rgba(var(--gruv-dark-bg));
	--bg-base-secondary: rgba(var(--gruv-dark-bg)); 
	--bg-base-tertiary: rgba(var(--gruv-dark-bg-hard));
	
	--bg-surface-overlay: rgba(var(--gruv-dark-bg));

	--card-primary-bg:  rgba(var(--gruv-dark-bg-hard));

	--bg-brand: rgba(var(--gruv-dark-accent), 0.8);

	--bg-mod-faint: rgba(var(--gruv-dark-bg-soft));
	--bg-mod-strong: rgba(var(--gruv-dark-bg2));
	--bg-mod-subtle: rgba(var(--gruv-dark-bg1));

	--border-normal: rgba(var(--gruv-dark-border-hover));
	--border-strong: rgba(var(--gruv-dark-border-default));
	--border-faint:  rgba(var(--gruv-dark-border-hover));
	--border-subtle: rgba(var(--gruv-dark-border-hover));

	--background-message-hover: rgba(var(--gruv-dark-bg1));

	--text-primary: rgba(var(--gruv-dark-fg-hard)); /* #fbf1c7  */
	--text-normal:  rgba(var(--gruv-dark-fg));      /* #ebdbb2  */
	--text-default: rgba(var(--gruv-dark-fg));      /* #ebdbb2  */
	--text-secondary: rgba(var(--gruv-dark-fg1));   /* #d5c4a1 */
	--text-tertiary: rgba(var(--gruv-dark-fg2));    /* #bdae93 */
	--text-positive: rgba(var(--gruv-dark-green-dark));

	--text-link: rgba(var(--gruv-dark-link-color));
	--text-muted: rgba(var(--gruv-dark-text-muted));
	--text-brand: rgba(var(--gruv-dark-accent));
	--text-muted-on-default: rgba(var(--gruv-dark-text-muted));

	--text-feedback-positive: rgba(var(--gruv-dark-green-dark));

	--text-code-comment: rgba(var(--gruv-dark-gray-light));
	--text-code-default: rgba(var(--gruv-dark-blue-light));
	--text-code-keyword: rgba(var(--gruv-dark-purple-light));
	--text-code-variable: rgba(var(--gruv-dark-blue-light));
	--text-code-builtin: rgba(var(--gruv-dark-purple-light));
	--text-code-string: rgba(var(--gruv-dark-aqua-light));

	--header-primary: rgba(var(--gruv-dark-text-primary));
	--header-secondary: rgba(var(--gruv-dark-text-tertiary));
	--header-muted: rgba(var(--gruv-dark-text-muted));

	--checkbox-border-default: rgba(var(--gruv-dark-border-default));
	--checkbox-border-checked: rgba(var(--gruv-dark-border-default));
	--checkbox-background-default: rgba(var(--gruv-dark-bg-soft));
	--checkbox-background-checked: rgba(var(--gruv-dark-background-positive));

	--channel-icon: rgba(var(--gruv-dark-icon-color));
	--channels-default: rgba(var(--gruv-dark-fg3));

	--custom-notice-background: rgba(var(--gruv-dark-green-dark));
	--custom-notice-text: rgba(var(--gruv-dark-text-hard));

	--notice-background-positive: rgba(var(--gruv-dark-green-dark));
	--notice-background-warning: rgba(var(--gruv-dark-yellow-dark), 0.8);
	--notice-background-critical: rgba(var(--gruv-dark-red-dark));

	--notice-text-positive: rgba(var(--gruv-dark-text-inverted-hard));

	--link-color: rgba(var(--gruv-dark-blue-dark));

	--icon-primary:   rgba(var(--gruv-dark-icon-color));
	--icon-secondary: rgba(var(--gruv-dark-icon-color));
	--icon-tertiary:  rgba(var(--gruv-dark-icon-color));
	--icon-default:   rgba(var(--gruv-dark-icon-color));
	--icon-muted:     rgba(var(--gruv-dark-icon-color-muted));

	--input-background: rgba(var(--gruv-dark-input-box-background));
	--input-border: rgba(var(--gruv-dark-border-default));
	--input-placeholder-text: rgba(var(--gruv-dark-text-tertiary));

	--modal-background: rgba(var(--gruv-dark-bg-hard));
	--modal-footer-background: rgba(var(--gruv-dark-bg));

	--mention-foreground: rgba(var(--gruv-dark-fg-hard));
	--mention-background: rgba(var(--gruv-dark-bg2));

	--scrollbar-auto-thumb: rgba(var(--gruv-dark-scrollbar-color));
	--scrollbar-auto-track: rgba(var(--gruv-dark-scrollbar-background));
	--scrollbar-thin-thumb: rgba(var(--gruv-dark-scrollbar-color));
	--scrollbar-auto-scrollbar-color-thumb: rgba(var(--gruv-dark-scrollbar-color));
	--scrollbar-auto-scrollbar-color-track: rgba(var(--gruv-dark-scrollbar-color));

	--button-filled-brand-text: rgba(var(--gruv-dark-button-text-default));
	--button-filled-brand-border: rgba(var(--gruv-dark-button-color-default));
	--button-filled-brand-background: rgba(var(--gruv-dark-button-color-default));
	--button-filled-brand-background-active: rgba(var(--gruv-dark-button-color-default));
    --button-filled-brand-background-hover: var(--gruv-dark-button-color-hover);

	--button-danger-background:          rgba(var(--gruv-dark-red-dark));
	--button-danger-background-active:   rgba(var(--gruv-dark-red-light));
	--button-danger-background-disabled: rgba(var(--gruv-dark-red-dark), 0.8);
	--button-danger-background-hover:    rgba(var(--gruv-dark-red-dark), 0.7);
	--button-danger-border: rgba(var(--gruv-dark-red-dark));

	--button-outline-danger-background: rgba(var(--gruv-dark-button-alt-default));
	--button-outline-danger-background-hover: rgba(var(--gruv-dark-button-alt-hover));
	--button-outline-danger-border: rgba(var(--gruv-dark-border-default));
	--button-outline-danger-border-hover: rgba(var(--gruv-dark-border-hover));
	--button-outline-danger-text: rgba(var(--gruv-dark-button-text-dark-muted));
	--button-outline-danger-text-hover: rgba(var(--gruv-dark-text-danger));

	--button-positive-background: rgba(var(--gruv-dark-button-positive-default));
	--button-positive-background-hover: var(--gruv-dark-button-positive-hover);
	--button-positive-border: rgba(var(--gruv-dark-button-positive-default));

	--button-secondary-background: rgba(var(--gruv-dark-bg-soft));
	--button-secondary-background-hover: rgba(var(--gruv-dark-bg));
	--button-secondary-text: rgba(var(--gruv-dark-button-text-dark-muted));

	--button-transparent-background: rgba(var(--gruv-dark-button-alt-default));
	--button-transparent-background-hover: rgba(var(--gruv-dark-button-alt-hover));
	--button-transparent-text: rgba(var(--gruv-dark-button-text-dark));

	--primary-630: rgba(var(--gruv-dark-button-alt-default));
	--primary-700: rgba(var(--gruv-dark-button-alt-hover));

	--background-code: rgba(var(--gruv-dark-bg-hard));

	--status-online: rgba(var(--gruv-dark-status-online));
	--status-offline: rgba(var(--gruv-dark-status-offline));
	--status-idle: var(--gruv-dark-status-idle);
	--status-dnd: rgba(var(--gruv-dark-status-dnd));

	--status-positive: rgba(var(--gruv-dark-green-dark));
	--status-positive-background: rgba(var(--gruv-dark-green-dark));
	--status-positive-text: rgba(var(--gruv-dark-text-inverted-hard));

	--status-danger: rgba(var(--gruv-dark-red-dark));
	--status-danger-background: rgba(var(--gruv-dark-red-dark));
	--status-danger-text: rgba(var(--gruv-dark-text-primary));

	--status-warning: rgba(var(--gruv-dark-orange-dark));
	--status-warning-background: rgba(var(--gruv-dark-orange-dark));
	--status-warning-text: rgba(var(--gruv-dark-text-inverted-hard));

	--status-speaking: rgba(var(--gruv-dark-green-light));

	--info-danger-background: rgba(var(--gruv-dark-red-dark), 0.08);
	--info-danger-text: rgba(rgba(gruv-dark-red-light));

	--info-positive-background: rgba(var(--gruv-dark-green-dark), 0.08);
	--info-positive-text: rgba(var(--gruv-dark-green-light));

	--info-warning-background: rgba(var(--gruv-dark-orange-dark), 0.08);
	--info-warning-text: rgba(var(--gruv-dark-text-primary));

	--background-mod-normal: rgba(var(--gruv-dark-selected-tab));
	--background-mod-strong: rgba(var(--gruv-dark-bg2));
	--background-mod-subtle: rgba(var(--gruv-dark-bg-soft));


	--interactive-normal: rgba(var(--gruv-dark-icon-color));
	--interactive-hover: rgba(var(--gruv-dark-icon-color-hover-harder));
	--interactive-active: rgba(var(--gruv-dark-icon-color-hover-harder));
	--interactive-muted: rgba(var(--gruv-dark-bg3));

	--message-reacted-text: rgba(var(--gruv-dark-text-hard));
	--message-reacted-background: rgba(var(--gruv-dark-accent), 0.1);

	--background-message-highlight: rgba(var(--gruv-dark-accent), 0.1);
	--background-message-highlight-hover: rgba(var(--gruv-dark-accent), 0.15);

	--spoiler-hidden-background: rgba(var(--gruv-dark-bg2));
	--spoiler-hidden-background-hover: rgba(var(--gruv-dark-bg3));

	--chat-background-default: rgba(var(--gruv-dark-bg-soft));

	--premium-nitro-pink-text: rgba(var(--gruv-dark-purple-light));
	--guild-boosting-pink: rgba(var(--gruv-dark-purple-light));

	--spine-default: rgba(var(--gruv-dark-bg4));

	--app-border-frame: rgba(var(--gruv-dark-border-hover));
	
	--twitch: rgba(var(--gruv-dark-purple-dark));

	--brand-260: rgba(var(--gruv-dark-accent-hover), 0.8);
	--brand-360: rgba(var(--gruv-dark-accent));
	--brand-500: rgba(var(--gruv-dark-accent-hover), 0.8);
	--brand-05: rgba(var(--gruv-dark-accent-hover), 0.2);
	--white-500: rgba(var(--gruv-dark-text-hard));
	--blurple-50: rgba(var(--gruv-dark-accent));
	--green-300: rgba(var(--gruv-dark-green-dark));
	--green-360: rgba(var(--gruv-dark-green-dark));
	--color-total: rgba(var(--gruv-dark-text-muted));
	--primary-300: rgba(var(--gruv-dark-text-hard));
	--primary-500: rgba(var(--gruv-dark-bg1));

	--badge-brand-text: rgba(var(--gruv-dark-text-inverted));
	--badge-brand-bg: rgba(var(--gruv-dark-accent-hover), 0.8);

	--redesign-button-positive-background: rgba(var(--gruv-dark-green-dark));
	--redesign-button-positive-pressed-background: rgba(var(--gruv-dark-green-dark), 0.8);
	--redesign-button-positive-text: rgba(var(--gruv-dark-text-hard));
}

/* Invite button inside call box */
.buttonColor__7b3e8 {
	color: rgba(var(--gruv-dark-text-primary))
}

/* Input / Output Volume slider (context menu) */
:where(.visual-refresh) .mini_a562c8 .grabber_a562c8, :where(.visual-refresh) .slider_a562c8 .grabber_a562c8  {
	background-color: rgba(var(--gruv-dark-text-primary))
}

[class*=notches_] {
	background-color: rgba(var(--gruv-dark-bg3))
}

[class^=control_] [class*=checked_],
#vc-spotify-player [class*=barFill_] {
  background-color: rgba(var(--gruv-dark-accent-hover), 0.8) !important;
}

.slider__87bf1 > rect {
	fill: rgba(var(--gruv-dark-text-hard));
}
.slider__87bf1 svg > path {
	fill: rgba(var(--gruv-dark-bg))
}
.container__87bf1 {
	background-color: rgba(var(--gruv-dark-bg2)) !important
}

.theme-dark .experimentButton_e131a9.buttonColor_e131a9.buttonActive_e131a9 {
	background-color: rgba(var(--gruv-dark-green-dark), 0.2);
}

/* call container bg */
[class^=callContainer],
[class^=callContainer] [class^=scroller_] {
  background-color: rgba(var(--gruv-dark-bg-hard));
}
/* Room preview animation */
.gradientBackground__11664 {
	background: rgba(var(--gruv-dark-bg)) !important
}
.backgroundDark__11664 {
	background: rgba(var(--gruv-dark-bg)) !important
}
.foregroundRing__11664 {
	background: rgba(var(--gruv-dark-accent-hover), 0.3) !important
}
.foregroundBase__11664 {
	background: rgba(var(--gruv-dark-accent-hover), 1) !important
}

[mask="url(#svg-mask-status-online)"] {
  fill: rgba(var(--gruv-dark-status-online));
}

[mask="url(#svg-mask-status-dnd)"] {
  fill: rgba(var(--gruv-dark-status-dnd));
}

[mask="url(#svg-mask-status-idle)"] {
  fill: var(--gruv-dark-status-idle);
}

[mask="url(#svg-mask-status-offline)"] {
  fill: rgba(var(--gruv-dark-status-offline));
}


/*
   When you are the only in the voice room,
   sometimes discord will suggest you to invite
   friends / start activity in the form of 
   user's modal window. This will change its background
*/
[class^=callContainer] [class^=root] {
  background-color: black !important
}

.flex__7c0ba .lineClamp1__4bd52 {
	color: rgba(var(--gruv-dark-text-hard)) !important
}

/* Vesktop plugins / themes */
.vc-addon-card {
	border: 1px solid rgba(var(--gruv-dark-border-hover))
}

/* Use solid background for banners in the "Discover" category */
.theme-dark .gradientOverlay_e9ef78,
.theme-dark .bannerGradient__955a3 {
	background-color: rgba(var(--gruv-dark-bg));
	border-bottom: 1px solid rgba(var(--gruv-dark-border-hover))
}

/* ==== Nuked elements ==== */

/* Top to bottom */

/* Quests banner */
/* Help & Inbox */
/* Download button */
.wrapper__0d616,
.trailing_c38106 {
	display: none !important
}

