window {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14pt;
    color: #d4be98;
    background-color: rgba(40, 40, 40, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: 2px solid #433F39;
    border-radius: 10px;
    background-color: #282828;
    margin: 5px;
}

button:hover {
    border: 2px solid #d79921;
    background-color: #282828;
    /* background-color: rgba(29, 32, 33, 1); */
    color: #d4be98;
}

button:focus {
    border: 2px solid #d79921;
    /* background-color: rgba(29, 32, 33, 1); */
    background-color: #282828;
    color: #d4be98;
}

#lock {
    background-image: image(url("./lock.png"));
}
#logout {
    background-image: image(url("./logout.png"));
}
#suspend {
    background-image: image(url("./suspend.png"));
}
#shutdown {
    background-image: image(url("./power.png"));
}
#reboot {
    background-image: image(url("./reboot.png"));
}
#hibernate {
    background-image: image(url("./hibernate.png"));
}
