[Unit]
# Note: https://github.com/hyprwm/hyprsunset/issues/22
Description=An application to enable a blue-light filter on Hyprland.
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hyprsunset/
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=hyprsunset -t temperature
Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target

# vim:ft=dosini
